@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import './variables';

:root {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
}

h1 {
  font-size: 6rem;
}

a {
  color: $primary-color;
}

.text-primary {
  color: $primary-color;
}
